/************************ Tablet Style ********************/
/****************************************************************/
/****************************************************************/

@media only screen and (max-width: 768px) {
    
    body {
        display: flex;
        
    }
    
    /************************ Header Style ********************/
    /**********************************************************/
    
    header {
        
    }
    
    /*********** logo and location style ************/
    .logo-and-location_div {
        display: flex;
        margin: auto;
        flex-direction: column;
        margin-bottom: 5%;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
    }
    
     h1 {
        font-size: 500%;
    }
    
    h3 {
        font-size: 330%;
        font-weight: bold;
    }
    
    .location_description_div {
        display: flex;
        align-items: center;
        justify-content:center;
        padding-left: 4%;
    }
    
    .location_description_div p {
        margin-right: 1%;
        font-size: 250%;
        width: auto;
    }
    
    .text_input_div {
        width: 65%;
    }
    
    .text_input_box {
        width: 80%;
        margin-right: 3%;
        height: 3.4vw;
        font-size: 200%;
    }
    
    button {
        height: 3.4vw;
        width: 25%;
        color: #FFF;
        font-size: 150%;
    }
    
    /*********** weather status style ************/
    .weather-stats_div {
        display: block;
        float: left;
        width: 50%;
    }
    
   
    .header_skyStatus_div {
        display: none;
    }
    
    .header_skyStatus_div_tablet {
        display: block;
        margin: auto;
        width: 85%;
    }

    .header_skyStatus_div_tablet img{
        width: 100%;
    }
    
    .curr_time_header_div {
        width: 50%;
        float: left;
    }
    
     
    .degree_text_header {
        margin-top: 0%;
        margin-left: 0;
        display: flex;
        float: right;
    }
    
    .degree_text_header p {
        font-size: 170%;
    }
 
    .curr_time_header_div {
        margin-top: 10%;
        padding-right: 0;
        margin-right: 0;
    }
    
    .curr_time_header_div p {
        font-size: 270%;
    
    }
    .current_p {
        margin-top: 4%;
        margin-bottom: 10%;
    }
   
    
    .degree_text_header_hr {
/*
        display: inline;
        border-left: 1pt solid darkgrey;
        height: 100px;
*/
        display: inline-block;
        float: left;
        border-color:  black;
        opacity: 0.5;
        font-weight: 100;
        margin-right: 0;
        margin-top: 35px;
        width: 0.1px;
        height: 90px;

    }
    
    /*********** map style ************/
    
    .map_div {
        display: none;
    }
    
    .map_div_tablet {
        display: block;
        position: relative;
        float: right;
        margin-top: 1%;
        width: 30vw;
        height: 30vw;
        float: right;
    }
    
    #green_map_tablet_img_id {
        filter: grayscale(100%);
    }
    .map_div_tablet img{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
   
    
    
     /************************ main Style ********************/
    /**********************************************************/
    
    main {
        
    }
    
    .hours_stats_div {
        margin-top: 4%;
        margin-bottom: 10%;
    }
    
}




/************************ Mobile Style ********************/
/****************************************************************/
/****************************************************************/

@media only screen and (max-width: 480px) {
    
   
    /************************ Header Style ********************/
    /**********************************************************/
    
    
    
    header {
        
        display: flex;
        flex-direction: column;
        margin-bottom: -10%;
        justify-content: center;
        align-items: center;
    }
    
    .sliderheader {
        position: absolute;
        top: 0;
        height: 100%;
        overflow: scroll;
        transition: all 1s;
     }
      
    .sliderheader.close {
        top: 0vw;
        height: 0%;
    }
    
    .logo-and-location_div {
        margin-bottom: 15%;
    }
    span {
        margin-left: 10%;
    }
    
    h1 {
        font-size: 1010%;
        margin-bottom: 5%;
    }
    
    h3 {
        font-size: 380%;
        margin-bottom: 10%;
    }
    
    .location_description_div {
        flex-direction: column;
        height: auto;    
    }
    
    .location_description_div p {
        margin-bottom: 8%;
        font-size: 550%;
        align-self: flex-start;
    }
    
    .text_input_div {
        align-self: flex-start;
        width: auto;
    }
    
    .text_input_box {
        font-size: 500%;
        margin: 0;
        height: 7.4vw;
        width: 60vw;
    }
    
    button {
        height: 7.4vw;
        width: 20vw;
        font-size: 380%;
    }
    
    
    
    
    
    /*********** weather status style ************/
    
    .weather-stats_div {
        width: 100%;   
    }
    .header_skyStatus_div_tablet {
        width: 50%
    }
    
    .curr_time_header_div {
        margin-left: 0;
        padding-right: 0;
    }
    .curr_time_header_div p {
        font-size: 600%;    
    }
    
    .degree_text_header {
        margin-left: 0;
        float: left;
        margin-top: 0;
    }
    .degree_text_header p {
        font-size: 350%;
        
    }
    
       .degree_text_header_hr {
/*
        display: inline;
        border-left: 1pt solid darkgrey;
        height: 100px;
*/
        display: inline-block;
        float: left;
        border-color:  black;
        opacity: 0.5;
        font-weight: 100;
        margin-right: 10%;
        margin-top: 35px;
        width: 0.1px;
        height: 35%;

    }
    
    /*********** map style ************/
    
    .map_div_tablet {
        display: none;
    }
   
    #up_icon {
        display: block;
        font-size: 800%;
        text-align: center;
        margin-top: 5%;
        color: snow;
    }
    
    
     /************************ main Style ********************/
    /**********************************************************/
    
    main {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .slidermain {
        position: absolute;
        top: 0vw;
        height: 100%;
        width: 100%;
        overflow: scroll;
        transition: all 1s;
        animation-name: example2;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        
      }
      
    .slidermain.close {
        top: 100%;
        width: 100%;
        height: 0%;
        animation-name: example;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
        
    }
    
    #down_icon {
        display: block;
        font-size: 800%;
        text-align: center;
        margin-top: 5%;
        color: darkblue;
    }
    
    .hours_stats_div {
        height: 35vw;
        margin: 0;
        margin-left: 5%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .hours_sky_img_div {
        margin: 0;
        width: 30%;
        height: 70%;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    
    .hours_text {
        margin-top: 0;
        font-size: 550%;
        text-align: center;
    }
    
    .hours_temperature {
        font-size: 1500%;
    }
    
    
    @keyframes example {
      from {opacity: 1}
      to {opacity: 0;}
    }
    
     @keyframes example2 {
      from {opacity: 0}
      to {opacity: 1;}
    }

    
}
        
    
    
